footer {
    text-align: left;
    background-color: #f4f8fa;
    color: #000;
    padding: 40px;
    position: relative;
    width: 100%;
    height: 24vh;

    margin-top: 50px;
}

footer p {
    margin-bottom: 0;
}
.rodape-up{
    padding-left: 70px;
    padding-bottom: 40px;
    display: flex;
    gap: 100px;
}
.rodape-up-right{
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}
.rodape-up-right a{
    color: #000;
}
.rodape-up-right a.delimiter{
    padding-bottom: 15px;
}
.rodape-up h3{
    font-weight: bold;
}
hr{
    padding-left: 40px;
    color: #000;
}
.rodape-down{
    justify-content: space-between;
    display: flex;
    padding-left: 40px;
}
