body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 30px;
    display: flex;
    flex: 1;
    align-items: ce;
}
#navbar li{
    gap: 20px;
    display: flex;
    list-style: none;
}
#navbar a.nav-link{
    color: #000;
}
#navbar a.navbar-brand{
    font-weight: bold;
    color: #000;
    font-size: 1.5em;
    padding-left: 30px;
}
#navbar #professor{
    font-weight: bolder;
}
.vertical-divider{
    width: 1px;
    height: 30px;
    background-color: #000;
    margin: 7px 20px
}
