body{
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 30px;
    display: flex;
    flex: 1;
    align-items: ce;
}
#navbar li{
    gap: 20px;
    display: flex;
    list-style: none;
}
#navbar a.nav-link{
    color: rgba(0, 0, 0, 0.75);
}
a.nav-link.active{
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
}
#navbar a.navbar-brand{
    font-weight: bold;
    color: #000;
    font-size: 1.5em;
    padding-left: 30px;
}
.vertical-divider{
    width: 1px;
    height: 30px;
    background-color: #000;
    margin: 7px 20px
}
