#title-container{
    margin: 45px auto;
    max-width: 440px;
    padding-top: 20px;
    word-spacing: 2px;
}
#title-container h3{
    font-weight:900;
    margin: 3px;
    text-align: center;
    font-size: 2em;
}
#search-container{
    max-width: 1200px;
    margin: 0px auto;

}
#search-input{
    padding: 12px;
    width: 100%;
    background-color: rgba(239, 234,234, 0.4);
    font-size: 20px;
    line-height: 18px;
    float: left;
    height: 6.5vh;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: 97% center;
}
#search-input::placeholder{

    color: color(#faf6f6,a(0.5));
}
#search-container{

    text-align: center;
    display: block;
}
.filter-container{
    display: block;
    margin: 10px auto;
    justify-content: space-between;
}
.filter-container label{
    margin-left: 10px;
}
.filter-buttons{
    margin: 20px 5px;
    border-radius: 20px;
    border: 1px solid rgb(208, 203, 203);
    text-align: center;
    font-size: 1.09em;
    background-color: transparent;
    width: 12%;
    padding: auto 10px;
    height: 4vh;

}
#Assunto{
    width: 9%;
}
