/*Parte que estiliza o visual do professor*/
div.bg-image.perfil-professor{
    width: 100%;
    height: 368px;
    background-image: url("../img/BannerBackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
    flex-shrink: 0;
}
.box-image-perfil{
    width: 13%;
    height: 251px;
    background-color: white;
    border-radius: 8px;
    flex-shrink: 0;
    margin-left: 20px;
    position: absolute;
    top: 325px;
    left: 150px;
    text-align: center;
}
.image-perfil{

    width: 95%;
    height: 233px;
    border-radius: 8px;
    flex-shrink: 0;
    padding: 5px 5px;
}
/*Parte que estiliza as informações do professor*/
section.informations-about{
    display: flex;
}
div.main-information{

    display: inline-block;
    position: relative;
    left: 23%;
    margin: 20px;
}
.main-information h2{
    color: #1E1E1E;
    font-family: Helvetica Neue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 75%;
}
.main-information h4{
    color: #787878;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 75%;
}
.resume{
    display: flex;
    width: 50%;
    padding: 32px;
    margin: 65px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}
.resume hr{
    width: 97%;
    height: 2px;
    background: #D9D9D9;
    padding: 0;
}
.resume-text{

    color: #1E1E1E;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.register-time{
    color: #A3A3A3;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.resume-middle p{

    color: #000;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume-middle ul{
    list-style: none;
    display: inline-flex;
    margin-left: 1px;
    margin-top: 10px;
}
.resume-middle li{
    padding: 10px 10px;
    color: var(--highlight-600, #803900);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 20%;
}
.resume-middle div{
    background: var(--highlight-50, #FFF8F2);
    margin: 7px 4px;
}
.resume-down p{
    color: #000;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resume-down :first-child{

    color: #000;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*Parte qe estiliza as recomendações*/

.avalations{

    display: flex;
}
.classification{

    width: 100%;
    margin: 0px 75px;
}
.student-avaliation{

    display: inline-flex;
    width: 450px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin: 0px 20px;
}
.student-avaliation i{

    color: orange;
    padding: 0px 2px;
}
.text-avaliation.student{
    color: #5C5C5C;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 30px */
    align-self: stretch;
}
.name-student{
    align-self: stretch;
    color: #1E1E1E;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}
.agendar-aula{
    position: absolute;
    top: 300px;
    right: 10%;
}
.marcar-aula{
    display: flex;
    width: 392px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.marcar-aula hr{
    width: 100%;
    height: 1px;
    background: #D9D9D9;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.total-avaliation i{
    color: orange;
    padding: 0px 2px;
}
.resume-middle .sessions-time{
    color: #1E1E1E;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    background: #F9F9F9;
    margin: 0px 5px;
    margin-bottom: 30px;
}
#free-time{

    color: #000;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#time{
    color: #1E1E1E;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#agendar{
    width: 100%;
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--highlight-500, #BF5600);
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

